<nav class="py-3 flex w-[70%] mx-auto gap-2">
  <a href="/" class="text-sky-500 p-2">Home</a>
  <a href="/about" class="text-sky-500 p-2">About</a>
  <a href="/contact" class="text-sky-500 p-2">Contact</a>
</nav>